<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/options.css" type="text/css" />
  </head>
  <body  id="app">
    <div id="body" :theme="themestr">
      <nav :theme="themestr">
      </nav>
      <div id="main-wrapper">
        <div id="main">
          <themer :light="islight"></themer>
          <table>
            <tbody>
              <tr :theme="themestr">
                <th>Trigger</th>
                <td><custom-select :cmdidx="0" :istrigger="true"></custom-select></td>
              </tr>
            </tbody>
          </table>
    
          <table>
            <tbody>
              <tr :theme="themestr">
                <th>Gesture</th>
                <th>Icon</th>
                <th>Command</th>
              </tr>
              <tr v-for="item in items" :theme="themestr">
                <td>{{item.gesture}}</td>
                <td v-html=item.icon></td>
                <td><custom-select :cmdidx="item.cmd_idx"></custom-select></td>
              </tr>
            </tbody>
          </table>
        </div>
        <playground></playground>
      </div>
    </div>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/options.js"></script>
  </body>
</html>
