<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options Page: TrackPad Gestures</title>
    <link rel="stylesheet" href="/static/css/options.css">
</head>
<body>
    <nav>
    
            <div class="menu-inner">Mappings</div>
            <div class="menu-inner">Trigger</div>
            <img class="menu-inner" src="icons/github.svg" alt="Github icon" />
    </nav>
    <div class="main-content">
        <div id="inner">
            <label for ="ex">Some Label</label>
            <select id="ex">
                <option value="1">One</option>
                <option value="2">Two</option>
            </select>
        </div>
    </div>
    <script src="static/js/options.js" />
</body>
</html>