<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options Page: TrackPad Gestures</title>
    <link rel="stylesheet" href="/static/css/options.css">
</head>
<body>
    <nav>
    
            <div class="menu-inner" id="nav-map">Mappings</div>
            <div class="menu-inner" id="nav-trig">Trigger</div>
            <img class="menu-inner" id="nav-git" src="icons/github.svg" alt="Github icon" />
    </nav>
    <table>
    </table>
    <footer>
        <hr style="width:80vw;">
        <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    <script src="../static/js/options.js"></script>
</body>
</html>