body{
    margin: 0;
    --toggle-background: #7298f2;
    --toggle-hover-bg-color: #0c2f83;
    --box-shadow-light: 1px 1px 5px 1px rgb(196, 192, 192);
    --box-shadow-dark: 1px 1px 5px 1px rgb(109, 107, 107);
}
tr{
   height: 35px;
}
#body {
    margin: 0;
    font-family: "serif";
    background-color: #E7E9EB;
    color: #071d50;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#body[theme="light"] {
    background-color: #E7E9EB;
    color: #071d50;
}
#body[theme="dark"] {
    background-color: rgb(36,39,41);
    color: #cdc8c2;
}
.flex-item{
    margin: 20px;
}
#playground-wrapper{
    height: 400px;
    min-width: 400px;
}
#playground{
    border: 1px solid white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}
#playground[theme="light"]{
    border: 1px solid #cccccc;
    box-shadow: var(--box-shadow-light);
}
#playground[theme="dark"]{
    border: 1px solid #3e4446;
    box-shadow: var(--box-shadow-dark);
}
#playground > *{
    word-wrap: break-word;
    margin: 2px;
    font-size: 11px;
}
#playground-text{
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}
#playground-gesture::before{
    content: "Gesture: ";
}
#playground-command::before{
    content: "Command: ";
}
nav{
    height: 50px;
    width: 100%;
}
nav[theme="light"]{
    background-color: #7298f2;
}
nav[theme="dark"] {
    background-color: #0c2f83;
}
img {
    height: 25px;
}
#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
}
table{
    margin-bottom: 30px;
    border-collapse: collapse;
    width: 500px;
}
tr{
    background-color: #E7E9EB;
    border: 1px solid #cccccc;
    padding: 50px;
}
tr[theme="light"]{
    background-color: #E7E9EB;
    border: 1px solid #cccccc;
}
tr[theme="dark"]{
    background-color: rgb(36,39,41);
    color: #cdc8c2;
    border: 1px solid #3e4446;
}
tr:nth-child(even){
    background-color: #F5F5F5;
}
tr:nth-child(even)[theme="light"]{
    background-color: #F5F5F5;
}
tr:nth-child(even)[theme="dark"]{
    background-color: rgb(30,32,33);
    color: #cdc8c2;
}
th, td {
    text-align: center;
}
select{
    outline: none;
    border-radius: 5px;
    padding: 2ch 1ch;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
select[theme="light"]{
    color: #071d50;
}
select[theme="dark"]{
    color: #cdc8c2;
}
select:hover{
    box-shadow: 1px 1px 5px 1px rgb(196, 192, 192);
}
select:hover[theme="light"]{
    box-shadow: var(--box-shadow-light);
}
select:hover[theme="dark"]{
    box-shadow: var(--box-shadow-dark);
}
option[theme="dark"]{
    background-color: rgb(36,39,41);
}

/* Theme Toggle */
#toggle-outer{
    background-color: white;
    width: 35px;
    border-radius: 20px;
    padding: 2px;
}
#toggle-inner[theme="dark"]{
    transform: translate(15px);
}
#toggle-inner[theme="light"]{
    --toggle-background: #7298f2;
    --toggle-hover-bg-color: #0c2f83;
}
#toggle-inner[theme="dark"]{
    --toggle-background: #0c2f83;
    --toggle-hover-bg-color: #7298f2;
}
#toggle-inner{
    background-color: var(--toggle-background);
    width: 20px;
    height: 20px;
    border-radius: 10px 10px;
    transition: all 200ms ease-in;
}
#toggle-inner:hover{
    background-color: var(--toggle-hover-bg-color);
    box-shadow: 1px 1px 5px 1px;
}
#toggle-wrapper{
    display: flex;
    justify-content: center;
}
.icon-char{
    font-size: 3.5ch;
}