body {
    margin: 0;
    font-family: "serif";
    background-color: #E7E9EB;
    color: #071d50;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body[theme="light"] {
    background-color: #E7E9EB;
    color: #071d50;
}
body[theme="dark"] {
    background-color: rgb(36,39,41);
    color: #cdc8c2;
}
#main-wrapper{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 90vw;
    /* justify-content: center;
    align-content: center; */
}
#playground-wrapper{
    align-self: flex-end;
    justify-self: center;
    margin-left: 20px;
    width: 80%; 
    height: 400px;
    background-color: green;
}
#playground{
    border: 1px solid white;
    background-color: red;
    width: 99.6%;
    height: 94.8%;
}
nav{
    background-color: #7298f2;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 2px;
    /* object-fit: contain; */
}
nav[theme="light"]{
    background-color: #7298f2;
}
nav[theme="dark"] {
    background-color: #0c2f83;
}
img {
    height: 25px;
}

#main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
    border-width: 1px;
    border-radius: 2px;
}
table{
    margin-top: 30px;
    border-collapse: collapse;
    width: 500px;
}
tr{
    background-color: #E7E9EB;
    border: 1px solid #cccccc;
    padding: 50px;
}
tr[theme="light"]{
    background-color: #E7E9EB;
    border: 1px solid #cccccc;
}
tr[theme="dark"]{
    background-color: rgb(36,39,41);
    color: #cdc8c2;
    border: 1px solid #3e4446;
}
tr:nth-child(even){
    background-color: #F5F5F5;
}
tr:nth-child(even)[theme="light"]{
    background-color: #F5F5F5;
}
tr:nth-child(even)[theme="dark"]{
    background-color: rgb(30,32,33);
    color: #cdc8c2;
}
th, td {
    text-align: center;
}
select{
    outline: none;
    border-radius: 5px;
    padding: 2ch 1ch;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
select[theme="light"]{
    color: #071d50;
}
select[theme="dark"]{
    color: #cdc8c2;
}
select:hover{
    box-shadow: 1px 1px 5px 1px rgb(196, 192, 192);
}
select:hover[theme="light"]{
    box-shadow: 1px 1px 5px 1px rgb(196, 192, 192);
}
select:hover[theme="dark"]{
    box-shadow: 1px 1px 5px 1px rgb(109, 107, 107);
}
option[theme="dark"]{
    background-color: rgb(36,39,41);
}