body {
    margin: 0;
    font-family: "serif";
    background-color: #E7E9EB;
    color: #071d50;
}

nav{
    background-color: #7298f2;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 2px;
    /* object-fit: contain; */
}

img {
    height: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
    border-width: 1px;
    border-radius: 2px;
}
.nav-item{
    /* margin: 5px 0 5px 0; */
    /* padding: 5px; */
    text-align: center;
    cursor: pointer;
    background-color: rgba(30, 54, 73, 0.20);
}
tbody{
    display: table-cell;
}
table{
    margin-top: 30px;
    border-collapse: collapse;
    width: 500px;
}
tr{
    background-color: #E7E9EB;
    border: 1px solid #ccc;
    padding: 50px;
}
tr:nth-child(even){
    background-color: #F5F5F5;
}
th, td {
    text-align: center;
}
select{
    /* color: green; */
    outline: none;
    border-radius: 5px;
    padding: 2ch 1ch;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
select:hover{
    box-shadow: 1px 1px 5px 1px rgb(196, 192, 192);
}
.nav-item:hover{
    background-color: rgba(30, 54, 73, 0.20);
    border: 0, none, rgb(30, 54, 73);
    transition: all 0.5s 0.1s;
    border-radius: 5px;
}
